@mixin desktop {
    @media screen and (min-width: 768px) {
        @content;
    }
}

// Colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// ### Accent

$blue: hsl(248, 32%, 49%);

// ### Neutral

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
// ----------------

$border-5: 5px;

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

p,
h1,
h2 {
    margin: 0;
}

.App {
    margin: 2rem 0;
    padding: 0 1.2rem;

    @include desktop {
        display: flex;
        justify-content: center;
        max-width: 1280px;
        gap: 1rem;
    }

    .try-form {
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }

    .main-message {
        color: #fff;
        margin-bottom: 3.5rem;

        @include desktop {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            @include desktop {
                font-size: 3.5rem;
                line-height: 50px;
            }
        }
        p {
            line-height: 25px;
            font-size: 1rem;
            padding: 0 1rem;
            @include desktop {
                padding: 0;
            }
        }

        @include desktop {
            width: 50%;
            text-align: left;
        }
    }



    .try-it {
        background-color: $blue;
        border-radius: $border-5;
        padding: 1rem 4rem;
        color: #fff;
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        line-height: 20px;

        h2 {
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
            display: inline;
        }
    }

    .form-container {
        background-color: #fff;
        border-radius: $border-5;
        padding: 1.3rem 1rem 0 1rem;

        @include desktop {
            padding: 1.3rem 1rem 1.3rem 2rem;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            input {
                width: 90%;
                height: 2.5rem;
                border-radius: $border-5;
                border: 2px solid $grayish-blue;

                &:active{
                    border: 2px solid $blue;
                }

                &::placeholder {
                    padding-left: 1rem;
                    font-weight: 700;
                }
            }

            button {
                width: 90%;
                padding: 1rem 0;
                border-radius: $border-5;
                background-color: $green;
                color: #fff;
                font-size: 0.875rem;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 0.8;
                }
            }

            .terms {
                font-size: 12px;
                padding: 0rem 1.5rem;
                color: $grayish-blue;

                a {
                    color: $red;
                    font-weight: 700;
                    font-style: none;
                }
            }
        }
    }
}
