
@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
    
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Kumbh Sans', sans-serif;

  // ### Primary

  --red: hsl(0, 100%, 74%); 
  --green: hsl(154, 59%, 51%);

  // ### Accent

  --blue: hsl(248, 32%, 49%);

// ### Neutral

  --dark-blue: hsl(249, 10%, 26%); 
  --grayish-blue: hsl(246, 25%, 77%);

  background-image: url("/bg-intro-mobile.png");
  background-color: var(--red);

  @include desktop {
    background-image: url("/bg-intro-desktop.png");
  }
}

